:host {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../../../assets/img/download.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-page .auth-side-wrapper {
    background-color: #112369;
    background-size: 237px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    border-radius: 10px 0px 0px 10px;
}

.nobleui-logo {
    font-family: cursive;
    color: #112369;
}

.btn-primary {
    background-color: #0995EF;
    border-color: #0995EF;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #fff;
    color: #0995EF;
}

.btn-outline-primary {
    color: #112369;
    border-color: #112369;
    font-weight: 500;
}

.card {
    border-radius: 10px;
    border: none !important;
    outline: none !important;
}

.btn-outline-primary:hover {
    background-color: #112369;
    color: #fff;
}

.form-check-input:checked {
    background-color: #0995EF;
    border-color: #0995EF;
}