<div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
        <div class="card">
            <div class="row">
                <div class="col-md-5 pe-md-0">
                    <div class="auth-side-wrapper"
                        [ngStyle]="{ 'background-image': 'url(../../../../../assets/img/svgLogo2.svg)' }">

                    </div>
                </div>
                <div class="col-md-7 ps-md-0">
                    <div class="auth-form-wrapper px-4 py-5">
                        <a routerLink="." class="nobleui-logo d-block mb-2">Welcome !</a>
                        <h5 class="text-muted fw-normal mb-4">Create a free account</h5>
                        <form class="forms-sample" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                            <div class="mb-3">
                                <label for="exampleInputUsername1" class="form-label">Username</label>
                                <input type="text" class="form-control"
                                    id="username" ngModel #username="ngModel" name="username" placeholder="Username"
                                    required>
                                <small for="username" class="form-text text-danger"
                                    *ngIf="username.invalid && (username.dirty || username.touched)">
                                    Name is required.
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                <input type="email" class="form-control"
                                    id="email" ngModel #email="ngModel" name="email" placeholder="Email" required>
                             
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password"
                                    #password="ngModel" ngModel name="password" minlength="6" placeholder="Password"
                                    required>
                              
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="authCheck">
                                <label class="form-check-label" for="authCheck">
                                    Remember me
                                </label>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0"
                                [disabled]="!registerForm.valid || loading">Sign up</button>
                                <button type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                                    <i class="feather icon-facebook btn-icon-prepend"></i>
                                    Sign up with facebook
                                </button>
                            </div>
                            <a routerLink="/auth/login" class="d-block mt-3 text-muted">Already a user? Sign in</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>