/* poppins-regular - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    src: url('../poppins-v19-latin/poppins-v19-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../poppins-v19-latin/poppins-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../poppins-v19-latin/poppins-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../poppins-v19-latin/poppins-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../poppins-v19-latin/poppins-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../poppins-v19-latin/poppins-v19-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}


/* poppins-500 - latin */

@font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: 500;
    src: url('../poppins-v19-latin/poppins-v19-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../poppins-v19-latin/poppins-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../poppins-v19-latin/poppins-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../poppins-v19-latin/poppins-v19-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../poppins-v19-latin/poppins-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../poppins-v19-latin/poppins-v19-latin-500.svg#Poppins') format('svg');
    /* Legacy iOS */
}

.poppins {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Poppins' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}