.sidebar .sidebar-header {
    background: #112369;
}

.sidebar .sidebar-header .sidebar-brand img {
    height: 100px;
    width: 100px;
    margin-left: 30px;
}

.sidebar .sidebar-header .sidebar-toggler span {
    background: #fff;
}

// .sidebar .sidebar-body .sidebar-nav .nav-item>.nav-link {
//     color: #112369;
// }
// .sidebar .sidebar-body .sidebar-nav .nav-item>.nav-link:hover {
//     color: #6571ff;
// }
// .sidebar .sidebar-body .sidebar-nav .nav-item.mm-active>.nav-link {
//     color: #6571ff;
// } .mm-active  
.nav-item:hover {
    padding-left: 25px;
    margin: 0px -25px 0px -25px;
    background: #112369;
    color: #fff;
    border-left: 5px solid #6571ff;
}

.nav-category:hover {
    padding-left: 25px;
    margin: 0px -25px 0px -25px;
    background: none;
    color: #fff;
    border-left: 0px solid #6571ff;
}

.sidebar .sidebar-body .sidebar-nav.sub-menu .nav-item:hover {
    border-left: 0px solid #6571ff;
}

.nav-item .mm-active {
    padding-left: 0px;
    // margin-left: 25px;
}

.sidebar .sidebar-body .sidebar-nav.sub-menu .nav-item {
    padding-left: 0px;
    margin-left: 25px;
}

.sidebar .sidebar-body .sidebar-nav .nav-item>.nav-link:hover {
    color: #fff;
}

.sidebar .sidebar-body .sidebar-nav .nav-item>.nav-link:hover .sidebar .sidebar-body .sidebar-nav .nav-item>.nav-link .link-icon {
    color: #fff;
}

::ng-deep .sidebar .sidebar-body .sidebar-nav .nav-item>.nav-link .link-icon:hover {
    color: #fff !important;
    fill: #112369;
}

.sidebar .sidebar-body {
    // background: aliceblue;
}