<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Settings</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Organization Details</h6>
                <form novalidate #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" placeholder="Enter first name" id="firstname"
                                ngModel #firstname="ngModel" name="firstname" required>
                        </div>
                    </div>
                    <!-- Col -->
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter last name" id="lastname" ngModel
                                #lastname="ngModel" name="lastname" required>>
                        </div>
                    </div>
                    <!-- Col -->
                </div>
                <!-- Row -->

                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="numb" class="form-label">Contact Number</label>
                            <input class="form-control" type="text" placeholder="Enter contact number"
                                id="contactnumber" ngModel #contactnumber="ngModel" name="contactnumber" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" placeholder="Enter email" id="email" ngModel
                                #email="ngModel" name="email" required>
                        </div>
                    </div>

                </div>
                <!-- Row -->

                <div class="row">
                    <!-- Col -->
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="form-label">Company Name</label>
                            <input type="text" class="form-control" placeholder="Enter company name" id="companyname"
                                ngModel #companyname="ngModel" name="companyname" required>
                        </div>
                    </div>
                    <!-- Col -->
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control" placeholder="Enter address" id="address" ngModel
                                #address="ngModel" name="address" required>
                        </div>
                    </div>

                </div>
                <!-- Row -->

                <div class="row">
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label class="form-label">City</label>
                            <input type="text" class="form-control" placeholder="Enter city" id="city" ngModel
                                #city="ngModel" name="city" required>
                        </div>
                    </div>
                    <!-- Col -->
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label class="form-label">State</label>
                            <input type="text" class="form-control" placeholder="Enter state" id="state" ngModel
                                #state="ngModel" name="state" required>
                        </div>
                    </div>
                    <!-- Col -->
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label class="form-label">Country</label>
                            <input type="text" class="form-control" placeholder="Enter country name" id="country"
                                ngModel #country="ngModel" name="country" required>
                        </div>
                    </div>
                    <!-- Col -->
                </div>
                <!-- Row -->
                <button type="submit" class="btn btn-primary submit" [disabled]="!profileForm.valid || loading">Submit
                    form</button>

                </form>
            </div>
        </div>
    </div>
</div>